*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

body{
    width: 1900px;
    margin: auto;
}

img{
    width: 608px;
}

.article .column-left{
    width: 32%;
    height: 866px;
    position: relative;
    margin-right: 15px;
    margin-bottom: 100px;
    margin-top: 20px;
    transform: translateY(0px);
}

.article-column > div{
    float: left;
}

.tag div{
    display: inline-block;
    color: white;
    font-weight: 600;
    font-size: 1.65rem;
    padding: 7px 8px;
    margin-right: 2px;
}

.discount{
    background-color: rgb(226, 0, 0);

}

.eco{
    background-color: rgb(0, 146, 78);
    
}

.tag{
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 62;
}

ul{
    list-style: none;
}

#heart{
    font-size: 4rem;
    background-color: white;
    padding: 5px 20px;
    color: black;
    position: absolute;
    top: 35px;
    right: 0%;
    z-index: 61;
}

ul{
    list-style: none;
    border-bottom: 3px;
}

.brand, .price{
    font-size: 1.3rem;
}

.item_name{
    font-weight: bold;
    font-size: 1.5rem;
}

.discounted{
    color: red;
    font-weight: bold;
}

.original{
    text-decoration: line-through;
}


.column-left:hover {
    transform: translateY(2px);
}

.img_top{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 50;
}

.img_container:hover .img_top{
    display: inline;
}
